<div ng-controller="LlistaController" ng-init="obtindreResultats()">
<table class="center">
  <tr>
    <th>Accio</th><th>Title</th><th>imatge reduida</th><th>Actiu</th><th>Data</th><th>Ordre ascendent</th>
  </tr>
  <tr ng-repeat="post in posts">
    <td><span ng-click="editar(post._id)" style="color:blue; cursor:pointer;" >Editar</span>
    <span style="color:red; cursor:pointer;" ng-click="eliminar(post._id, post.img, post.file, post.file2)">Eliminar</span></td>
    <td>{{post.title}}</td>
    <td><img src="{{post.img}}" width="50px" height="50px"></img></td>
    <td>{{post.activate}}</td>
    <td>{{post.date_pub}}</td>
    <td><input type="text" id="ord" size="10" ng-model="post.ord"></input><button type="button" class="btn-primary" ng-click="posarOrd(post._id, post.ord)">Desar</button></td>

  </tr>
</table>
</div>
