<div class="jumbotron" id="container">
  <form>
    <div class="form-group">
      <label for="title">* Titol:</label>
      <input type="text" class="form-control" id="title" ng-model="post.title" placeholder="Titol de la noticia" />
    </div>
    <div class="form-group">
      <label for="description">Descripció:</label>
      <textarea class="form-control" required id="description" ng-model="post.description" placeholder="Breu descripcio del contingut de la noticia"></textarea>
    </div>
    <div class="form-group">
      <label for="body">Noticia:</label>
      <textarea class="form-control" required id="body" ng-model="post.body" placeholder="Cos de la noticia"></textarea>
      <small class="help-block">Si tens molt contingut no peteixis, a la 4ª linea posarem un readmore...</small>
    </div>
    <div class="form-group">
      <label for="file"></label>
      <input type="file" class="form-control-file" id="file" ng-model="post.sampleFile" placeholder="" />
      <small class="help-block">Extensió permessa solament "jpg".</small>
    </div>
    <div class="form-check">
      <label for="form-check-label"></label>
      <input type="checkbox" class="form-check-input" id="actiu" ng-model="post.active" />
      <small class="help-block">Actiu.</small>
    </div>
    <button type="button" ng-click="nou()" value="Desar">Desar</button>
  </form>
</div>
