<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='stylesheets/style.css' />
    <link rel="stylesheet" href="stylesheets/bootstrap.css" />
    <link rel="stylesheet" type="text/css" media="print" href="stylesheets/bootstrap.css" />
    <link rel="stylesheet" type="text/css" media="print" href="stylesheets/print.css" />
    <script src="lib/angular.min.js"></script>
    <script src="lib/ui-bootstrap.js"></script>
    <script src="lib/angular-route.js"></script>
    <script src="javascripts/main.js"></script>
  </head>
  <body>
    <h1>AjSVC</h1>
    <p>Poble Amigable de la Gent Gran</p>
  </body>

</html>
