<!DOCTYPE html>
<html>
  <head>
    <title>Poble Amigable SVC</title>
    <link rel='stylesheet' href='stylesheets/style.css' />
    <link rel="stylesheet" href="stylesheets/bootstrap.css" />
    <link rel="stylesheet" type="text/css" media="print" href="stylesheets/bootstrap.css" />
    <link rel="stylesheet" type="text/css" media="print" href="stylesheets/ui-bootstrap-csp.css" />
    <link rel="stylesheet" type="text/css" media="print" href="stylesheets/print.css" />
    <link rel="icon" type="image/jpg" href="lib/img/pobleamigableLogo.jpg" />
    <script src="lib/angular.min.js"></script>
    <script src="lib/angular.min.js.map"></script>
    <script src="lib/ui-bootstrap-tpls.js"></script>
    <script src="lib/angular-animate.js"></script>
    <script src="lib/angular-route.js"></script>
  <header>
    <img src="lib/img/logo.png"></img>
    <h1><p>Xarxa de Pobles Amigables amb la Gent Gràn <img src="lib/img/pobleamigableLogomin.jpg"></img></h1></p>

  </header>

  <body ng-app="gentGran" ng-controller="MainDefaultController" ng-init="initApp()">
  <div id="containerPost">
    <div ng-repeat="post in posts.slice(((currentPage-1)*5),((currentPage)*5))" class="post">
      <div class="postItem">
        <h4>{{post.title}}</h4>
        <p><img src="{{post.img}}" with="150px" height="100px"></img></p>
        <small>data:{{post.date_pub}}</small>
      </div>
      <div class="postItem">
        <p class="textDesc">{{post.description}}</p>
        <uib-accordion close-others="oneAtATime">
          <div cursor="pointer" uib-accordion-group  heading="Lleguir més:">
            <p class="textBody">{{post.body}}</p>
          </div>
          <div cursor="pointer" uib-accordion-group  heading="Fitxers Adjunts:" class="file">
            <small><a href="{{post.file}}">{{post.filename}}</a></small><br>
            <small><a href="{{post.file2}}">{{post.filename2}}</a></small>
          </div>
        </uib-accordion>
      </div>
    </div>
    <ul class="center" uib-pagination total-items="totalItems" ng-model="currentPage" boundary-links="true" items-per-page="itemsPerPage" ng-change="pageChanged()"></ul uib-pagination>
  </div>
  <footer class="footer">Plaça de l'Ajuntament, 10 - 08295 Sant Vicenç de Castellet | T. 936 930 611 - F. 936 930 610 - <strong>svcastellet@svc.cat</strong>.
    <img src="lib/img/gentGran.jpg"></img>
  </footer>
  </body>
  <script src="javascripts/mainDefault.js"></script>
</html>
