header{
  display:flex;
  flex-flow:row;
  justify-content: flex-start;
  width:80%;
  height:150%;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  border-bottom-style: solid;
  border-bottom-color: #771E25;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin-bottom: 60px;
  height: 100%;
}

a {
  color: #00B7FF;
}
table {
  border-collapse: separate;
  border-spacing: 50px 0;
  }table.center{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

td {
  padding: 10px 0;
}
ul.center{
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.right{
  margin-right: 0px;

}
.center{
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  display: block;
}
#containerPost{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-flow:column;
  width: 80%;
  justify-content: flex-start;

  }.post{
    display:flex;
    flex-flow:row;

  }.postItem{
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    padding:5px;
    max-width:900px;
  }.postItem .textDesc{
    font-size:17px;
    text-align: justify;
  }.postItem .textBody{
    text-align: justify;
  }.postItem .file{
    font-size: 12px;

}.title{
  font-weight: bold;
  text-align: justify;
  font-size:20px;
}
  .footer {
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
section.center{
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 200px;
  display:block;
}
