header{
  display:flex;
  flex-flow:row;
  justify-content: flex-start;
  width:80%;
  height:150%;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  border-bottom-style: solid;
  border-bottom-color: #771E25;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
table {
  border-collapse: separate;
  border-spacing: 50px 0;
}

td {
  padding: 10px 0;
}
ul.center{
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.right{
  margin-right: 0px;

}
#containerPost{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-flow:column;
  justify-content: flex-start;
  width: 80%;

  }.post{
    display:flex;
    flex-flow:row;

  }.postItem{
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
  }.postItem .textDesc{
    text-align: justify;
    font-weight: bold;
  }.postItem .textBody{
    text-align: justify;
  }.postItem .file{
    font-size: 12px;
  }
